<html>  
<body>  
        <div class="bd-example" align="middle">
                <img src="{{url_for('static', filename='YARAUI.png')}}" align="middle" />
        </div>
        <div class="bd-example" align="middle">
	<form action = "uploader" method = "POST" enctype = "multipart/form-data">
        	<table>
                <tr><br/><br/></tr>
                <tr><td><input type = "file" name = "file" /></td>
                <td><input type = "submit" value="Scan Yara"/></td></tr>
                </table>
        </form>
        <form action = "deleteUpload">
        	<table>
                <tr><br/><br/></tr>
                <td><input type = "submit" value="Clear Upload Folder"/></td></tr>
                </table>
        </form>
        <form>
                <table>
                        <tr><td style="width: 259px; vertical-align:top"><b>File Name:</b></td>
                                <td>
                                {% if no_file == 0: %}
                                        Provide File to Scan
                                {% else: %}
                                        {{ filename }}
                                {% endif %}
                                </td>
                        </tr>
                        <tr><td style="width: 259px; vertical-align:top"><b>YARA Rule Match:</b></td>
                        <td>
                        {% if rule_matches == 'None': %}
                                No matches Found
                        {% else: %}
                                {% for rules in rule_matches: %}
                                        {{ rules }}
                                        <br/>
                                {% endfor %}
                        {% endif %}
                        </td></tr>
                </table>
        </form>
        </div>
</body>  
</html> 
